@use './utils/' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $secondary;
    
}

.app {
    max-width: 87.5em; //1400px
    margin: 0 auto;
    font-family: $font;
    padding: 0 2em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1em;
    color: $white;

    a {
        text-decoration: none;
        width: fit-content;
    }

    button,
    input[type='button'] {
        background-color: transparent;
        border: none;
    }

    a,
    button {
        cursor: pointer;
        color: $white;
    }

    ul {
        list-style: none;
    }

    .active {
        color: #149ECA;
        background-color: #283441;
        border-radius: 1.5em;
        font-weight: 300;
    }
}
